body {
  margin: 0; 
  background-color: rgba(243, 250, 206, 0.951);
  font-family: "Gabriola";
  color: rgb(0, 0, 0);
}

a {
  color: rgb(255, 255, 255);
}

footer {
  width: 100%;
  background-color: #03203C;
  text-align: center;
  font-size: 1.42rem;
  color: white;
}

#wrapper {
  width: 100%;
  background-color: rgb(237, 246, 193);
  margin: 0 auto;
}


/*background images combined into one class to avoid code repetition*/
.background {
  background-image: url('../images/bg.jpg');
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center center;   /*So that background always remains at the center of the window*/
  background-repeat: no-repeat;
  display: block;
  text-align: left;
}

/*background properties for the 'main' tag*/
.backgrounds {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center center;   /*So that background always remains at the center of the window*/
  background-repeat: no-repeat;
}

/*Properties for the main heading of every page*/ 
.titles {
  font-family: "Bodoni MT Condensed";
  text-align: center;
  margin: 0;
}

#page-wrap {
  width: 800px;
  margin: 0 auto;
}

#statement{
  display: block;
  text-align: left;
  margin: 7% 3% 2% 3%;
  padding: 2%;
}

.full {
  display: block;
  background-color:rgba(255, 255, 255, 0.347);
  text-align: justify;
  border: 3px solid black;
  margin: 2% 2% 1.5%;
  padding: 0 1% 0.5% 1.5%;
  font-size: 1.8rem;
}

.title{
  font-weight: bolder;
  font-size: 6.2rem;
  font-family: "Pristina" ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  text-decoration: underline;
  padding: 1% 0;
  color: #052f55;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.full p {
  font-size: 1.8rem;
  padding:  0.5% 30% 0% 2%;
}

#mentoring_sess {
  height: 237.12px;
  width: 355.2px;
  float: right;
  padding: 3% 2% 0 2%;
}

#mentors {
  display: block;
  text-align: left;
  margin: 5% 3% 2% 3%;
  padding: 2%;
}

.mentor_pics {
  height: 213.12px;
  width: 218.88px;
  border-radius: 50%;
}

figure {
  display: inline-block;
  position: relative;
  height: 213.12px;
  width: 280px;
}
  
figcaption {
  position: absolute;
  top: 75px;
  right: 0;
  left: 250px;
  width: 200px;
  height: 180px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  font-size: 2.3rem;
  color: #2f219d;;
}

h6 {
  margin-top: 15px;
  color: rgb(0, 0, 0);
  text-shadow:1px 1px 10px rgb(119, 181, 226), 1px 1px 10px #ccc;
}

* {
  box-sizing: border-box;
}

.column, .col {
  float: left;
  width: 50%;
  padding: 5px;
}

.col {
  width: 45%;
  border-color: #000065;
  background-color: rgba(160, 160, 250, 0.097);
}
.col p {
  padding-right: 0;
}

#col1 {
  padding-left: 120px;
  margin-left: 75px;
  border-style: dashed none dashed dashed;
}

#col2 {
  padding-left: 120px;
  border-style: dashed dashed dashed none;
}

.options {
  font-weight: bold;
}

#submit {
  margin-top: 30px;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 5px 12px;
  margin-left: 600px;
  font-family: "Pristina" ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#reset {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 5px 20px;
  margin-left: 0;
  font-family: "Pristina" ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#submit:hover, #reset:hover {
  transition-duration: 0.6s;
  background-color: rgba(194, 166, 251, 0.778);
  box-shadow: 0 4px 6px 2px rgba(185, 185, 185, 0.354);
}


.full::after {
  content: "";
  display: table;
  clear: both;
}

#cyear {
  width: 60px;
  text-align-last:center;
}

#courseName {
  width: 363px;
  text-align-last:center;
}

.contactForm {
  background-color:red;
  text-align:center;
}

.error {
  color:#120E43;
  text-decoration: underline;
  text-decoration-color: #383CC1;
}


/* header */

.header {
  background-color: #03203C;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 4px 0px;
  position: absolute;
  width: 100%;
  z-index: 3;
  font-size: 17pt;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li {
  float: left;
}

.header li .underline {
  display: block;
  padding: 20px 30px 3px 30px;
  text-decoration: none;
  position: relative;
}

.header .underline:before {
  content: "";
  position: absolute;     
  visibility: hidden;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: #4a9bf8;  
  transition: all 0.3s ease-in-out;
}

.header .underline:hover:before {
  visibility: visible;
  height: 3px;
}

.header #logo {
  display: block;
  float: left;
  padding: 5px 5px 0px;
}

/* menu */

.header .categories {
  clear: none;
  float: right;
  max-height: none;
}

/* menu categories */

.header .pgs {
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  display: none;
}

