<%= @header %>
  <div class="background" id="statement">
    <!--Our Program-->
    <div class="full" id="accessibility">
      <div class="title">Accessibility</div>
      <p>
          <strong> 
          This site is only meant to be used on a laptop or desktop.
          Everyone using this website should be able to easily navigate to the desired information, read and understand what is written.
        </strong>
      </p>
      <p>
          As the website is designed to be of a light colour scheme, I have made sure that there is good contrast between the 
          background, background images, pictures and text to improve readability. The font is of a dark colour in order to not hurt 
          users’ eyes as well as making it easier to read. Consequently, the text is appropriately sized in terms of both the overall 
          size and the type of text it is i.e. Headings are larger than sub-headings which are larger than the content. Additionally,
          hyperlink texts stand out from the body text so that user can differentiate between them.
      </p>
      <p>
          Furthermore, images have an alt text provided. Images are appropriately sized and sufficiently used to make the page look 
          more attractive and keeping the users attention. JPG images are used in order to decrease loading time.
      </p>
       <p>
          There is always room for improvement so if you still feel that there is something to improve please 
          <a href="/contact"><strong>GET IN TOUCH</strong></a> 
          and we will try to respond to your query within 2 working days. 
      </p>
        <!--the date of updated-->
      <p><strong>*Last updated on 23rd March 2021</strong></p>
    </div>
  </div>
<%= erb :"common/footer" %>