<%= erb :"common/header" %>
    <div class = "content">
        <h1>Accessibility</h1>
        <h2>We are commited to making the site accessible by following <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">(W3C) accessibility guidelines</a></h2>
        <h3>Site Accessibility Features Include:</h3>
        <ul>
            <li>Example 1</li>
            <li>Example 2</li>
            <li>Example 3</li>
        </ul>
    </div>
<%= erb :"common/footer" %>