<%= erb :"common/header" %>

<% unless @mentees.errors.size.zero? %>
    <p><strong class="error">Please correct the errors below:</strong></p>
<% end %>

<form method="post">
    <%= erb :"signup" %>
</form>

<p class="navigation">Return to <a href="/index">Homepage</a>.</p>

<%= erb :"common/footer" %>