
<%= erb :"common/header" %>

<% unless @mentee.errors.size.zero? %>
    <p><strong class="error">Please correct the errors below:</strong></p>
<% end %>

<form method="post">
    <%= erb :"common/mentee_form" %>
</form>


<%= erb :"common/footer" %>
