<%= erb :"common/headerB" %>
  <div class="background" id="statement">
    <div class="full">
      <div class="title">Are you also a mentor:</div>           
      <p> 
        <!--Leads to a page where the user is asked to login as a mentor -->
        <a href="/loginAgain" class="choices">Yes</a>    <!--Admin + mentor-->
      </p>
      <p>
        <!--Leads to the AdminDashboard -->
        <a href="/AdminDashboard" class="choices">No</a>  <!--Admin only-->
      </p>
    </div>
  </div> 
  
<%= erb :"common/footer" %>
