<%= erb :"common/headerB" %>
  <div class="background" id="statement">
    <div class="full">
      <div class="title">Are you also a mentor:</div> <!--Main page Title-->          
      <p>          
        <a href="/loginAgain" class="choices">Yes</a> <!--Admin + mentor-->
      </p>
      <p>
        <a href="/AdminDashboard" class="choices">No</a>  <!--Admin only-->
      </p>
    </div>
  </div> 
  
<%= erb :"common/footer" %>
