<%= erb :"common/headerB" %>
  <div class="background" id="statement">
    <div class="full">
        <!--Display the main page title-->
      <div class="title">Are you also a mentor:</div>           
      <p> 
        <!--Clink yes return to the loginAgain as a mentor          -->
        <a href="/loginAgain" class="choices">Yes</a>    <!--Admin + mentor-->
      </p>
      <p>
        <!--Clink no return to the AdminDashboard            -->
        <a href="/AdminDashboard" class="choices">No</a>  <!--Admin only-->
      </p>
    </div>
  </div> 
  
<%= erb :"common/footer" %>
