<%= @header %>
<div class="background" id="statement">
    <div class="full">
        <div class="title">
            <h1>Contact</h1>
            <!-- Mail logo for the contact page            -->
            <img src="images/contact.png" alt="Contact">
        </div>
        <div class="contactBody">
          <h2 class="description">If you need to contact an admin use the section below.</h2>
          <div class="contactForm">  
              <h2>Contact Admin: </h2>
              <!--Sends the form contents to an admins email-->
              <form name="myform" action="https://www.dcs.shef.ac.uk/cgi-intranet/public/FormMail.php" method="POST" onsubmit="alert('Email will be sent now...');" >
                <input type="hidden" name="recipients" value="sfansur1@sheffield.ac.uk">
                   <div class="user">
                    <p>
                      <label for="realname">Your name:</label>
                      <input type="text" name="realname" id="name" maxlength="40" size="30" placeholder="Enter your name..."  required><!--Mandatory field-->
                    </p>
                    <p>
                      <label for="email">E-mail:</label>
                      <input type="email" name="email" id="email" placeholder="Enter your email..." maxlength="40" size="30" required><!--Mandatory field-->
                    </p>
                    <p>
                      <label for="comments">Comments:</label>
                    </p>

                    <p>
                      <textarea name="comments" id="comments" placeholder="Comments..." rows="8" cols="48"></textarea>
                    </p>

                    <!--Submit/Reset buttons-->
                    <p>
                      <input type="submit" id="contactSubmit" value="Submit">
                      <input type="reset" id="contactReset" value="Reset">
                    </p>
                 </div>
              </form>
       </div>
    </div>
  </div>
</div>               


<%= erb :"common/footer" %>