<%= erb :"common/header" %>
<div class="background" id="statement">
  <!--Our Program-->
  <div class="full">
    <div class="title">Welcome to secure Area</div> <!--Main page Title-->  

      <p>Blah blah blah ...</p>

      <p><a href="/logout">Logout</a></p>
  </div>
</div>

<%= erb :"common/footer" %>

<!--PAGE DISPLAYED AFTER LOGGING IN-->
