<%= erb :"common/header_menteeA" %>
    <div class="background" id="statement">
      <div class="full">
        <div class="title">Delete mentee account</div> <!--Main page Title-->  


<p class="error"><strong>Unknown mentee</strong></p>

<p class="navigation">Return to <a href="/MenteeDashboard">Mentee Dashboard</a>.</p>
      </div>
</div>

<%= erb :"common/footer" %>