<%= @header %>
  <div class="background" id="statement">
    <!--Our Program-->
    <div class="full">
      <!-- Using the logo picture as the title of our program page-->
      <div class="title" id="logoTitle"><img src="images/logo.png" alt="logo"></div> 
          <img src="images/pic.jpg" alt="Mentoring session" id="mentoring_sess">
          <!--Brief introduction of the functions made by our team           -->
          <p class="intro">
            This program is a <strong>one-to-one mentoring program</strong> which allows Sheffield students
            to find mentors who are available to help them with their work and degree courses. The program allows students 
            to find mentors from their chosen area of interest so they can help them effectively.
          </p>        
          <p class="intro">
            Mentors will be able to provide information and tell you about their experiences and career path.
          </p>
    </div>
  </div> 
<%= erb :"common/footer" %>
