<%= @header %>
  <div class="background" id="statement">
    <!--Our Program-->
    <div class="full">
      <div class="title" id="logoTitle"><img src="images/logo.png" alt="logo"></div> <!--Main page Title-->  
          <img src="images/pic.jpg" alt="Mentoring session" id="mentoring_sess">
          <p class="intro">
            This program is a <strong>one-to-one mentoring program</strong> which allows Sheffield students
            to find mentors who are available to help them with their work and degree courses. The program allows students 
            to find mentors from their chosen area of interest so they can help them effectively.
          </p>        
          <p class="intro">
            Mentors will be able to provide information and tell you about their experiences and career path.
          </p>
    </div>
  </div> 

<!--     <div class="background" id="mentors">
      <div class="full">
        <div class="title">Meet our mentors</div>  
       
          <div class="column">
            <figure>
              <img src="images/m1.jpg" alt="Mentor" class="mentor_pics">
            <figcaption>
              Samiha Fansur 1<br>
              <h6>Computer Science</h6>
            </figcaption>
            </figure>
          </div>

          <div class="column">
            <figure>
              <img src="images/m1.jpg" alt="Mentor" class="mentor_pics">
            <figcaption>
              Samiha Fansur 2<br>
              <h6>Computer Science</h6>
            </figcaption>
            </figure>
          </div>

          <div class="column">
            <figure>
              <img src="images/m1.jpg" alt="Mentor" class="mentor_pics">
            <figcaption>
              Samiha Fansur 3<br>
              <h6>Computer Science</h6>
            </figcaption>
            </figure>
          </div>

          <div class="column">
            <figure>
              <img src="images/unknown_pfp.png" alt="Mentor" class="mentor_pics">
            <figcaption>
              Samiha Fansur 4<br>
              <h6>Computer Science</h6>
            </figcaption>
            </figure>
          </div>

          <div class="column">
            <figure>
              <img src="images/m1.jpg" alt="Mentor" class="mentor_pics">
            <figcaption>
              Samiha Fansur 5<br>
              <h6>Computer Science</h6>
            </figcaption>
            </figure>
          </div>

      </div>
    </div>     -->
<%= erb :"common/footer" %>
