<html lang="en">
<head>
  <title>Our Program</title>
  <meta charset="utf-8">
  <meta name="author" content="Team 6" />
  <meta name="Description" content="Our Program">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/index.css">
</head>
<body>
  <div id="wrapper">  
    <main class="backgrounds">
      <header class="header">
        <a href="index.html" id="logo"><img src="images/logo.png" alt="logo" height="60">
        <!--<input type="checkbox" id="menu" />-->
        <label class="pgs" for="menu">
          <span class="nav"></span>
        </label>

        <!--Menu categories-->
        <ul class="categories">
          <li><a href="index.html" class="underline">Our Program</a></li>
          <li><a href="contact.html" class="underline">Contact Us</a></li>
          <li><a href="accessibility.html" class="underline">Accessibility</a></li>
          <li><a href="login.html" class="underline">Login</a></li>
          <li><a href="signup.html" class="underline">Sign Up</a></li>
        </ul>
    </header>
  </main>
    
    <div class="background" id="statement">
      <!--Our Program-->
      <div class="full">
        <div class="mentoring">Find a Mentor</div> <!--Main page Title-->  
        <img src="images/pic.jpg" alt="Mentoring session" id="mentoring_sess">
        <p>
          This program is a <strong>one-to-one mentoring program</strong> which allows students from the University of Sheffield 
          to find mentors who are available to help them with their work and degree courses. The program allows students 
          to find mentors from their chosen area of interest so they can help them effectively.
        </p>        
        <p>
          Mentors will be able to provide information and tell you about their experiences and career path.
        </p>
      </div>
    </div> 

    <div class="background" id="mentors">
      <!--Mentor list-->
      <div class="full">
        <div class="mentoring">Meet our mentors</div>  
       
          <div class="column">
            <figure>
              <img src="images/m1.jpg" alt="Mentor" class="mentor_pics">
            <figcaption>
              Samiha Fansur 1<br>
              <h6>Computer Science</h6>
            </figcaption>
            </figure>
          </div>

          <div class="column">
            <figure>
              <img src="images/m1.jpg" alt="Mentor" class="mentor_pics">
            <figcaption>
              Samiha Fansur 2<br>
              <h6>Computer Science</h6>
            </figcaption>
            </figure>
          </div>

          <div class="column">
            <figure>
              <img src="images/m1.jpg" alt="Mentor" class="mentor_pics">
            <figcaption>
              Samiha Fansur 3<br>
              <h6>Computer Science</h6>
            </figcaption>
            </figure>
          </div>

          <div class="column">
            <figure>
              <img src="images/unknown_pfp.png" alt="Mentor" class="mentor_pics">
            <figcaption>
              Samiha Fansur 4<br>
              <h6>Computer Science</h6>
            </figcaption>
            </figure>
          </div>

          <div class="column">
            <figure>
              <img src="images/m1.jpg" alt="Mentor" class="mentor_pics">
            <figcaption>
              Samiha Fansur 5<br>
              <h6>Computer Science</h6>
            </figcaption>
            </figure>
          </div>

      </div>
    </div>    

    <footer>&copy; Team 6, 2021 | <a href="./contact.html">Contact</a></footer>

  </div>
</body>
</html>

