<html>
  <head>
    <title>Mentor and Mentee site</title>
  </head>
  <body>
    <h1>Welcome to the site</h1>
    <p>Test Paragraph</p>
    <% if @writeStuff %>
    <p>Variable test text</p>
    <%end%>
  </body>
</html>