<%= erb :"common/headerB" %>
<div class="background" id="statement">
  <!--Our Program-->
  <div class="full">
    <div class="title">Logged out</div> <!--Main page Title--> 

      <p>You're now logged out.</p>

      <p><a href="/login">Login again</a>.</p>
  </div>
</div>

<%= erb :"common/footer" %>

<!--LOGOUT PAGE-->