<!--LOGOUT PAGE-->
<%= erb :"common/headerB" %>
<div class="background" id="statement">
  <div class="full">
    <div class="title">Logged out</div> <!--Main page Title--> 

      <p>You're now logged out.</p>

      <p><a href="/login">Log in again</a></p>
  </div>
</div>

<%= erb :"common/footer" %>