<!--LOGOUT PAGE-->
<%= erb :"common/headerB" %>
<div class="background" id="statement">
  <div class="full">
    <!-- Page displayed when a user is logged out -->
    <div class="title">Logged out</div>
      <p>You're now logged out.</p>
      <!--Return to login page  -->
      <p><a href="/login">Log in again</a></p>
  </div>
</div>

<%= erb :"common/footer" %>