<%= erb :"common/header_mentorA" %>
<div class="background" id="statement">
  
      <div class="full">
<!-- SHOW THE TIME    -->
        <h2> 
            <button type="submit">Previous Week</button>       
                  My Mentee timetable
            <button type="submit">Next Week</button><br> 
            <p><a href="/time">Today's Date:</a> <%= @last_visited %><br><br>
            <a href="/MentorDashboard" class="underline">Return to Dashboard</a></h2>
            
       <div class="user_info" id="application">
       
          <!-- Displays the details of the mentee the mentor is matched to -->
          <% if @menteeMatchedList.count > 0 %>
    
              <table class="display_table">
                <tr id="TableHeadings">
                  <th></th>
                  <th>Monday：</th>
                  <th>Tuesday:</th>
                  <th>Wendesday:</th>
                  <th>Thursday:</th>
                  <th>Friday:</th>  
                  
                </tr>
              <% @menteeMatchedList.each do |mentee| %>
                
                
                 <tr>
                  <th>Morning</th>
                <td>
<!-- WRITE THE TASK THAT MENTEE WILL DO    -->
                </td>   
                 </tr>
                  
                 <tr>
                  <th>Afternoon</th>
                <td>
<!-- WRITE THE TASK THAT MENTEE WILL DO    -->
                </td>
                
                
              <% end %> 
              </table>
            <% else %>
              <p id="SearchError">You do not have a mentee yet!</p>
            <% end %>
         
         <P></P>
          </div>     
                  
                   
 
                
     </div>
   </div>
  


<%= erb :"common/footer" %>
