<%= erb :"common/header_mentorA" %>
<div  id="statement">
  
      <div class="full">
        <aside class="lSide">
          <div class="full" id="user_info">
            <p><!--<a href="#com1003" class="link">-->Name: <!--</a>--></p>
            <p><!--<a href="#com1003" class="link">-->Email: <!--</a>--></p>
            <p><!--<a href="#com1003" class="link">-->Phone Number: <!--</a>--></p>
            <p><!--<a href="#com1003" class="link">-->Job Title: <!--</a>--></p>
            <p><!--<a href="#com1003" class="link">-->Industry: <!--</a>--></p>
          </div>
        </aside>

        <aside class="rSide">
          <div class="full">
            <p class="search_info"><!--<a href="#com1003" class="link">-->View mentee applications<!--</a>--></p>
          </div>
        </aside>
     </div>
  
</div> 

<%= erb :"common/footer" %>


<!--PAGE USED TO LOGIN-->