<%= erb :"common/header_mentorA" %>
<div class="background" id="statement">
  
      <div class="full">
          

          
        <h2> 
            <button type="submit">Previous Week</button>       
                  My timeable
            <button type="submit">Next Week</button><br> 
            <p><a href="/timeAgain">Today's Date:</a><%= @last_visited %></h2>

        
              <table class="display_table">
                <tr id="TableHeadings">
                  <th></th>
                  <th>Monday:</th>
                  <th>Tuesday:</th>
                  <th>Wendesday:</th>
                  <th>Thursday:</th>
                  <th>Friday:</th>  
                </tr>
              
               <tr>
                  <th>Morning</th>
                <td>
                    
                </td>
                    
                    
                 </tr>
                  
                 <tr>
                  <th>Afternoon</th>
                <td>
                   
                </td>
                 </tr>
             </table>
     
                  
                   
 
                
     </div>
   </div>
  


<%= erb :"common/footer" %>
