<%= erb :"common/headerB" %>
  <div class="background" id="statement">
    <div class="full">
      <div class="title">Mentor Sign Up</div> <!--Main page Title-->  
      
      <!-- Displays any errors that may occur -->
      <% unless @error.nil? %>
      <h2><strong class="error"><%= @error %></strong></h2>
      <% end %>

      <form id="signupForm" name="myform" action="/MentorSignUpForm" method="post">
        <%= erb :"common/mentor_signup_form" %>    
      </form>
      
    </div>

  </div> 

<%= erb :"common/footer" %>
