<%= @header %>
  <div class="background" id="statement">
    <div class="full">
      <div class="title">Report mentee</div> <!--Main page Title-->  
      <form method="post">
          <input type="hidden" name="id" />
          <%= erb :"common/report_mentee_form" %>
      </form>
         <p class="navigation"><a href="/myMentee">Return to my mentee</a>.</p>
  </div>
</div>
<%= erb :"common/footer" %>