<%= erb :"common/header" %>
    <div class="background" id="statement">
      <div class="full">
        <div class="title">Sign up as:</div> <!--Main page Title-->  
        <p>
          <a href="/MenteeSignUpForm" class="choices">Mentee</a>
        </p>        
        <p>          
          <a href="/MentorSignUpForm" class="choices">Mentor</a>
        </p>
        
      </div>
    </div> 
  
<%= erb :"common/footer" %>
