<%= erb :"common/header" %>
    <div class="background" id="statement">
      <!--Our Program-->
      <div class="full">
        <div class="title">Mentee Sign Up</div> <!--Main page Title-->  
        <form name="myform" action="/index" method="post" onsubmit="alert('You will be redirected to the Home Page now...');" >
          <input type="hidden" name="recipients" value="sfansur1@sheffield.ac.uk"> <!--NEED TO REDIRECT TO HOMEPAGE!!!!!-->
          
          <!--Column 1-->
          <div class="col" id="col1">
            <p>
              <label for="fname" class="options">First name:</label>
              <input type="text" name="fname" id="fname" maxlength="40" size="30" placeholder="Enter first name..."  required><!--Mandatory field-->
            </p>

            <p>
              <label for="email" class="options">UoS E-mail:</label>
              <input type="email" name="email" id="email" placeholder="Enter your UoS email..." maxlength="40" size="30" required><!--Mandatory field-->
            </p>

            <p>
              <label for="courseName" class="options">Course: </label> <!--Dropdown List-->
              <select name="courseName" id="courseName" required> <!--Course List-->
                <option value="">Select</option>
                <option value="1">Accounting and Financial Management (BA)</option>
                <option value="2">Accounting and Financial Management and Economics (BA)</option>
                <option value="3">Aerospace Engineering (MEng)</option>
                <option value="4">Aerospace Engineering (BEng)</option>
                <option value="5">Aerospace Engineering (Private Pilot Instruction) (BEng)</option>
                <option value="6">Aerospace Engineering (Private Pilot Instruction) (Meng)</option>
                <option value="7">Aerospace Engineering with a Foundation Year (BEng | MEng)</option>
                <option value="8">Aerospace Engineering with a Year in Industry (MEng)</option>
                <option value="9">Aerospace Engineering with a Year in Industry (BEng)</option>
                <option value="10">Aerospace Engineering with a Year in North America (Meng)</option>
                <option value="11">Applied Social Sciences (BA)</option>
                <option value="12">Archaeology (BA)</option>
                <option value="13">Archaeology (BSc)</option>
                <option value="14">Archaeology and History (BA)</option>
                <option value="15">Archaeology and Modern Languages & Cultures (BA)</option>
                <option value="16">Architectural Engineering (MEng)</option>
                <option value="17">Architectural Engineering with a Year in Industry (MEng)</option>
                <option value="18">Architecture (BA)</option>
                <option value="19">Architecture and Landscape (BA)</option>
                <option value="20">Artificial Intelligence and Computer Science (BSc)</option>
                <option value="21">Artificial Intelligence and Computer Science (MComp)</option>
                <option value="22">Artificial Intelligence and Computer Science with a Year in Industry (MComp)</option>
                <option value="23">Artificial Intelligence and Computer Science with a Year in Industry (BSc)</option>
                <option value="24">Bio-dental Science and Technology (BSc)</option>
                <option value="25">Biochemistry (BSc)</option>
                <option value="26">Biochemistry (MBiolSci)</option>
                <option value="27">Biochemistry and Genetics (BSc)</option>
                <option value="28">Biochemistry and Genetics (MBiolSci)</option>
                <option value="29">Biochemistry and Genetics with a Year in Industry (BSc)</option>
                <option value="30">Biochemistry and Microbiology (MBiolSci)</option>
                <option value="31">Biochemistry and Microbiology (BSc)</option>
                <option value="32">Biochemistry and Microbiology with a Year in Industry (BSc)</option>
                <option value="33">Biochemistry with a Year in Industry (BSc)</option>
                <option value="34">Bioengineering (MEng)</option>
                <option value="35">Bioengineering (BEng)</option>
                <option value="36">Bioengineering with a Foundation Year (BEng | MEng)</option>
                <option value="37">Bioengineering with a Year in Industry (MEng)</option>
                <option value="38">Bioengineering with a Year in Industry (BEng)</option>
                <option value="39">Biology (BSc)</option>
                <option value="40">Biology (MBiolSci)</option>
                <option value="41">Biology with a Year Abroad (MBiolSci)</option>
                <option value="42">Biology with a Year Abroad (BSc)</option>
                <option value="43">Biology with Placement Year (BSc)</option>
                <option value="44">Biology with Placement Year (MBiolSci)</option>
                <option value="45">Biomedical Science (BSc)</option>
                <option value="46">Biomedical Science (MBiomedSci)</option>
                <option value="47">Biomedical Science with a Year Abroad (BSc)</option>
                <option value="48">Biomedical Science with a Year in Industry (BSc)</option>
                <option value="49">Biomedical Science with a Year in Industry (MBiomedSci)</option>
                <option value="50">Biosciences with a Foundation Year (BSc)</option>
                <option value="51">Business Management (BA)</option>
                <option value="52">Business Management and Economics (BA)</option>
                <option value="53">Business Management and Japanese Studies (BA)</option>
                <option value="54">Business Management and Modern Languages & Cultures (BA)</option>
                <option value="55">Chemical Engineering (BEng)</option>
                <option value="56">Chemical Engineering (MEng)</option>
                <option value="57">Chemical Engineering with a Foundation Year (BEng | MEng)</option>
                <option value="58">Chemical Engineering with a Year in Australasia (MEng)</option>
                <option value="59">Chemical Engineering with a Year in Industry (MEng)</option>
                <option value="60">Chemical Engineering with Industrial ExperienceBEng</option>
                <option value="61">Chemistry (BSc)</option>
                <option value="62">Chemistry (MChem)</option>
                <option value="63">Chemistry with a Foundation Year (BSc | MChem)</option>
                <option value="64">Chemistry with a Year in Industry (MChem)</option>
                <option value="65">Chemistry with a Year in Industry (BSc)</option>
                <option value="66">Chemistry with Biological and Medicinal Chemistry (MChem)</option>
                <option value="67">Chemistry with Biological and Medicinal Chemistry (BSc)</option>
                <option value="68">Chemistry with Study Abroad (MChem)</option>
                <option value="69">Chinese Studies (BA)</option>
                <option value="70">Chinese Studies and Business Management (BA)</option>
                <option value="71">Chinese Studies and History (BA)</option>
                <option value="72">Chinese Studies with Japanese (BA)</option>
                <option value="73">Civil and Structural Engineering (MEng)</option>
                <option value="74">Civil and Structural Engineering with a Foundation Year (BEng | MEng)</option>
                <option value="75">Civil and Structural Engineering with a Year in Industry (MEng)</option>
                <option value="76">Civil Engineering (MEng)</option>
                <option value="77">Civil Engineering (BEng)</option>
                <option value="78">Civil Engineering with a Year in Industry (MEng)</option>
                <option value="79">Civil Engineering with a Year in Industry (BEng)</option>
                <option value="80">Computer Science (BSc)</option>
                <option value="81">Computer Science (MComp)</option>
                <option value="82">Computer Science with a Foundation (YearBSc | MComp)</option>
                <option value="83">Computer Science with a Year in Industry (BSc)</option>
                <option value="84">Computer Science with a Year in Industry (MComp)</option>
                <option value="85">Computer Systems Engineering (BEng)</option>
                <option value="86">Computer Systems Engineering with a Year in Industry (BEng)</option>
                <option value="87">Criminology (BA)</option>
                <option value="88">Dental Hygiene and Dental Therapy (Higher Education Diploma)</option>
                <option value="89">Dental Surgery (BDS)</option>
                <option value="90">Digital Media and Society (BA)</option>
                <option value="91">East Asian Studies (BA)</option>
                <option value="92">Ecology and Conservation Biology (BSc)</option>
                <option value="93">Ecology and Conservation Biology (MBiolSci)</option>
                <option value="94">Ecology and Conservation Biology with Placement Year (MBiolSci)</option>
                <option value="95">Ecology and Conservation Biology with Placement Year (BSc)</option>
                <option value="96">Economics (BA)</option>
                <option value="97">Economics (BSc)</option>
                <option value="98">Economics and Mathematics (BSc)</option>
                <option value="99">Economics and Modern Languages & Cultures (BA)</option>
                <option value="100">Economics and Politics (BA)</option>
                <option value="101">Economics with Finance (BSc)</option>
                <option value="102">Education, Culture and Childhood (BA)</option>
                <option value="103">Electrical and Electronic Engineering (MEng)</option>
                <option value="104">Electrical and Electronic Engineering (BEng)</option>
                <option value="105">Electrical and Electronic Engineering with a Foundation Year (BEng | MEng)</option>
                <option value="106">Electrical and Electronic Engineering with a Year in Industry (MEng)</option>
                <option value="107">Electrical and Electronic Engineering with a Year in Industry (BEng)</option>
                <option value="108">Electrical Engineering (BEng)</option>
                <option value="109">Electronic Engineering (BEng)</option>
                <option value="110">Electronics and Computer Engineering (BEng)</option>
                <option value="111">Electronics and Computer Engineering (MEng)</option>
                <option value="112">English and History (BA)</option>
                <option value="113">English and Modern Languages & Cultures (BA)</option>
                <option value="114">English and Music (BA)</option>
                <option value="115">English and Philosophy (BA)</option>
                <option value="116">English Language and Linguistics (BA)</option>
                <option value="117">English Language and Literature (BA)</option>
                <option value="118">English Literature (BA)</option>
                <option value="119">Environmental Science (MEnvSci)</option>
                <option value="120">Environmental Science (BSc)</option>
                <option value="121">Financial Mathematics (BSc)</option>
                <option value="122">General Engineering (MEng (Hons))</option>
                <option value="123">General Engineering (BEng (Hons))</option>
                <option value="124">General Engineering with a Foundation Year (MEng (Hons))</option>
                <option value="125">General Engineering with a Year in Industry(BEng (Hons))</option>
                <option value="126">General Engineering with a Year in Industry (MEng (Hons))</option>
                <option value="127">Genetics (BSc)</option>
                <option value="128">Genetics (MBiolSci)</option>
                <option value="129">Genetics with a Year in Industry (BSc)</option>
                <option value="130">Geography (BA)</option>
                <option value="131">Geography (MGeogSci)</option>
                <option value="132">Geography (BSc)</option>
                <option value="133">Geography and Planning (BA)</option>
                <option value="134">Graduate Entry Medicine (MBChB)</option>
                <option value="135">Health and Human Sciences (BMedSci)</option>
                <option value="136">History (BA)</option>
                <option value="137">History and Modern Languages & Cultures (BA)</option>
                <option value="138">History and Music (BA)</option>
                <option value="139">History and Philosophy (BA)</option>
                <option value="140">History and Politics (BA)</option>
                <option value="141">History and Sociology (BA)</option>
                <option value="142">Intelligent Systems and Control Engineering (BEng)</option>
                <option value="143">International Business Management with Study Abroad (BA)</option>
                <option value="144">International Relations and Politics (BA)</option>
                <option value="145">Japanese Studies (BA)</option>
                <option value="146">Japanese Studies and History (BA)</option>
                <option value="147">Journalism Studies (BA)</option>
                <option value="148">Korean Studies (BA)</option>
                <option value="149">Korean Studies with Japanese (BA)</option>
                <option value="150">Landscape Architecture (BA)</option>
                <option value="151">Landscape Architecture (BSc)</option>
                <option value="152">Law (LLB)</option>
                <option value="153">Law (European and International) (LLB)</option>
                <option value="154">Law (with Chinese Law) (LLB)</option>
                <option value="155">Law (with Spanish Law) (LLB)</option>
                <option value="156">Law and Criminology (LLB)</option>
                <option value="157">Linguistics and Japanese Studies (BA)</option>
                <option value="158">Linguistics and Modern Languages & Cultures (BA)</option>
                <option value="159">Linguistics and Philosophy (BA)</option>
                <option value="160">Materials Science and Engineering (MEng)</option>
                <option value="161">Materials Science and Engineering (BEng)</option>
                <option value="162">Materials Science and Engineering with a Foundation Year(BEng | MEng)</option>
                <option value="163">Materials Science and Engineering with a Year in Industry (BEng)</option>
                <option value="164">Mathematics (MMath)</option>
                <option value="165">Mathematics (BSc)</option>
                <option value="166">Mathematics and Philosophy (BSc)</option>
                <option value="167">Mathematics and Statistics (MMath)</option>
                <option value="168">Mathematics and Statistics (BSc)</option>
                <option value="169">Mathematics and Statistics with Placement Year (MMath)</option>
                <option value="170">Mathematics and Statistics with Placement Year (BSc)</option>
                <option value="171">Mathematics with a Year Abroad (MMath)</option>
                <option value="172">Mathematics with French (MMath)</option>
                <option value="173">Mathematics with German (MMath)</option>
                <option value="174">Mathematics with Placement Year (MMath)</option>
                <option value="175">Mathematics with Placement Year (BSc)</option>
                <option value="176">Mathematics with Spanish (MMath)</option>
                <option value="177">Mathematics with Study in Europe (MMath)</option>
                <option value="178">Mechanical Engineering (MEng)</option>
                <option value="179">Mechanical Engineering (BEng)</option>
                <option value="180">Mechanical Engineering with a Foundation Year (BEng | MEng)</option>
                <option value="181">Mechanical Engineering with a Year in Industry (MEng)</option>
                <option value="182">Mechanical Engineering with a Year in Industry (BEng)</option>
                <option value="183">Mechanical Engineering with a Year in North America (MEng)</option>
                <option value="184">Mechatronic and Robotic Engineering (BEng)</option>
                <option value="185">Mechatronic and Robotic Engineering (MEng)</option>
                <option value="186">Mechatronic and Robotic Engineering with a Year in Industry (MEng)</option>
                <option value="187">Mechatronic and Robotic Engineering with a Year in Industry (BEng)</option>
                <option value="188">Medical Biochemistry (BSc)</option>
                <option value="189">Medical Biochemistry (MBiolSci)</option>
                <option value="190">Medical Biochemistry with a Year in Industry (BSc)</option>
                <option value="191">Medical Genetics (BSc)</option>
                <option value="192">Medical Genetics (MBiolSci)</option>
                <option value="193">Medical Genetics with a Year in Industry (BSc)</option>
                <option value="194">Medical Microbiology (MBiolSci)</option>
                <option value="195">Medical Microbiology (BSc)</option>
                <option value="196">Medical Microbiology with a Year in Industry (BSc)</option>
                <option value="197">Medicine (MBChB)</option>
                <option value="198">Microbiology (MBiolSci)</option>
                <option value="199">Microbiology (BSc)</option>
                <option value="200">Microbiology with a Year in Industry (BSc)</option>
                <option value="201">Modern Languages and Cultures (BA)</option>
                <option value="202">Molecular Biology (MBiolSci)</option>
                <option value="203">Molecular Biology (BSc)</option>
                <option value="204">Molecular Biology with a Year in Industry (BSc)</option>
                <option value="205">Music (BMus)</option>
                <option value="206">Music and Korean Studies (BA)</option>
                <option value="207">Music and Modern Languages & Cultures (BA)</option>
                <option value="208">Music and Philosophy (BA)</option>
                <option value="209">Nursing (Adult) (BMedSci)</option>
                <option value="210">Orthoptics (BMedSci)</option>
                <option value="211">Philosophy (BA)</option>
                <option value="212">Philosophy and Modern Languages & Cultures (BA)</option>
                <option value="213">Philosophy, Religion and Ethics (BA)</option>
                <option value="214">Physics (MPhys)</option>
                <option value="215">Physics (BSc)</option>
                <option value="216">Physics and Astrophysics (MPhys)</option>
                <option value="217">Physics and Astrophysics (BSc)</option>
                <option value="218">Physics and Astrophysics with a Year in Industry (MPhys)</option>
                <option value="219">Physics and Astrophysics with a Year in Industry (BSc)</option>
                <option value="220">Physics and Astrophysics with Study Abroad (MPhys)</option>
                <option value="221">Physics with a Foundation Year (BSc | MPhys)</option>
                <option value="222">Physics with a Year in Industry (MPhys)</option>
                <option value="223">Physics with a Year in Industry (BSc)</option>
                <option value="224">Physics with Medical Physics (MPhys)</option>
                <option value="225">Physics with Medical Physics (BSc)</option>
                <option value="226">Physics with Particle Physics (MPhys)</option>
                <option value="227">Physics with Particle Physics (BSc)</option>
                <option value="228">Physics with Philosophy (MPhys)</option>
                <option value="229">Physics with Philosophy (BSc)</option>
                <option value="230">Physics with Study Abroad (MPhys)</option>
                <option value="231">Plant Sciences (MBiolSci)</option>
                <option value="232">Plant Sciences (BSc)</option>
                <option value="233">Plant Sciences with Placement Year (BSc)</option>
                <option value="234">Plant Sciences with Placement Year (MBiolSci)</option>
                <option value="235">Politics (BA)</option>
                <option value="236">Politics and Modern Languages & Cultures (BA)</option>
                <option value="237">Politics and Philosophy (BA)</option>
                <option value="238">Politics and Sociology (BA)</option>
                <option value="239">Politics, Philosophy and Economics (BA)</option>
                <option value="240">Psychology (BSc)</option>
                <option value="241">Quantitative Social Sciences (BSc)</option>
                <option value="242">Robotics with a Foundation Year (BEng)</option>
                <option value="243">Robotics with a Foundation Year (MEng)</option>
                <option value="244">Sociology (BA)</option>
                <option value="245">Sociology with Criminology (BA)</option>
                <option value="246">Sociology with Social Policy (BA)</option>
                <option value="247">Software Engineering (BEng)</option>
                <option value="248">Software Engineering (MEng)</option>
                <option value="249">Software Engineering with a Foundation Year (BEng | MEng)</option>
                <option value="250">Software Engineering with a Year in Industry (MEng)</option>
                <option value="251">Software Engineering with a Year in Industry (BEng)</option>
                <option value="252">Speech and Language Therapy (BMedSci)</option>
                <option value="253">Structural Engineering and Architecture (MEng)</option>
                <option value="254">Structural Engineering and Architecture with a Year in Industry (MEng)</option>
                <option value="255">Theoretical Physics (MPhys)</option>
                <option value="256">Theoretical Physics (BSc)</option>
                <option value="257">Theoretical Physics with a Year in Industry (MPhys)</option>
                <option value="258">Theoretical Physics with a Year in Industry (BSc)</option>
                <option value="259">Theoretical Physics with Study Abroad (MPhys)</option>
                <option value="260">Urban Studies (BA)</option>
                <option value="261">Urban Studies and Planning (MPlan (UG))</option>
                <option value="262">Zoology (MBiolSci)</option>
                <option value="263">Zoology (BSc)</option>
                <option value="264">Zoology with Placement Year (MBiolSci)</option>
                <option value="265">Zoology with Placement Year (BSc)</option>

              </select>
            </p>
            
          </div>

          <!--Column 2-->
          <div class="col" id="col2">
            <p>
              <label for="lname" class="options">Last name:</label>
            <input type="text" name="lname" id="lname" maxlength="40" size="30" placeholder="Enter last name..."  required><!--Mandatory field-->
            </p>

            <p>
              <label for="phoneNum" class="options">Phone Number:</label>
              <input type="tel" name="phoneNum" id="phoneNum" placeholder="+XX XXXXXXXXXX" maxlength="40" size="30" required><!--Mandatory field-->
            </p>

            <p>
              <label for="Year" class="options">Year of study: </label> <!--Dropdown list-->
              <select name="year" id="year" required>
                <option value="">Select</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
              </select>
            </p>

          </div>
          
            <!--Submit/Reset buttons-->
          <p>
            <input type="submit" id="submit" value="Submit">
            <input type="reset" id="reset" value="Reset">
          </p>
          <!--</div>-->
        </form>

      </div>
    </div> 
<%= erb :"common/footer" %>
