<%= erb :"common/headerB" %>
  <div class="background" id="statement">
    <div class="full">
      <div class="title">Sign up as:</div> <!--Main page Title-->  
      <p>
        <!--Link to sign up as a mentee             -->
        <a href="/MenteeSignUpForm" class="choices">Mentee</a>
      </p>        
      <p>
        <!--Link to sign up as a mentor             -->
        <a href="/MentorSignUpForm" class="choices">Mentor</a>
      </p>
      <p>
        <!-- Link to login           -->
        Already have an account?
        <a href="/login" class="underline"> Login</a>
      </p>
    </div>
  </div> 
  
<%= erb :"common/footer" %>
