<html>
  <head>
    <title>Title for page</title>
  </head>
  <body>
    <h1>Test Title</h1>
    <p>Test Paragraph</p>
    <% if @writeStuff %>
    <p>Test Paragraph 2</p>
    <%end%>
  </body>
</html>