<html lang="en">
<head>
  <title>Our Program</title>
  <meta charset="utf-8">
  <meta name="author" content="Team 6" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/index.css">
</head>
<body>
  <div id="wrapper">  
    <main class="backgrounds">
      <header class="header">
       <a href="/index"><img src="images/logo.png" alt="logo" height="60">
        <label class="pgs" for="menu">
          <span class="nav"></span>
        </label>

        <!--Menu categories-->
        <ul class="categories">
          <li><a href="/index" class="underline">Our Program</a></li>
          <li><a href="/MentorDashboard" class="underline">Dashboard</a></li>
          <li><a href="/schedule" class="underline">My Mentee Schedule</a></li> <!--SHOULD HAVE SMTH AFTER MENTOR CHOSEN-->
          <li><a href="/contact" class="underline">Contact Us</a></li>
          <li><a href="/logout" class="underline">Logout</a></li>
        </ul>
    </header>
  </main>
    