<!--Form called when a mentor wants to edit their profile-->
<div class="col">
  <p>Please fill in the information below</p>
  
  <p>
    <label for="description" class="options">Description: </label>
  </p>

  <p>
    <textarea name="description" id="description" placeholder="Enter a description..." rows="10" cols="60"></textarea>
  </p>

</div>

<!--Submit button-->
<p id="buttons">
  <input type="submit" id="submit" value="Submit">
</p>